#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port        = 3306
socket      = /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
nice        = 0

[mysqld]
user        = mysql
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
port        = 3306
basedir     = /usr
datadir     = /var/lib/mysql
tmpdir      = /tmp
lc-messages-dir = /usr/share/mysql
explicit_defaults_for_timestamp

bind-address=0.0.0.0

group_concat_max_len = 1024000

#default storage engine needs to be InnoDB
default-storage-engine=INNODB

# enabled by default since 5.6.6
# allows tables to be easily moved around independent
# of others in the database
innodb_file_per_table = 1

# completely disable query cache to avoid contention issues
query_cache_type = 0
query_cache_size = 0
query_cache_limit = 0

# it's supposed to be safe when set to 2, only crashes of machines may lead to loss of data
innodb_flush_log_at_trx_commit = 2

# tuning trx log
# http://dev.mysql.com/doc/refman/5.0/en/innodb-parameters.html
#  Sensible values range from 1MB to 1/N-th of the size of the buffer pool,
#  where N is the number of log files in the group. ...
#  The larger the value, the less checkpoint flush activity is needed in
#  the buffer pool, saving disk I/O. But larger log files also mean that
#  recovery is slower in case of a crash.
innodb_log_file_size = 8G
innodb_flush_method = O_DIRECT

# sensible values in [1M, 8M]
innodb_log_buffer_size = 8M

# recommended value
innodb_log_files_in_group = 2

# 2 gig tablespace with 8 meg increments
innodb_data_file_path = ibdata1:10M:autoextend

# re-stating defaults
innodb_lock_wait_timeout = 50

innodb_print_all_deadlocks = 1

# allow mysql to create as many threads as it needs
innodb_thread_concurrency=0
# engage more cores
innodb_read_io_threads = 64

# default encoding and collation
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

# use default values
max_connections = 8192
max_connect_errors = 1024000
max_allowed_packet = 104857600

# basic replication settings
master_info_repository = TABLE
relay_log_info_repository = TABLE
binlog_format = ROW
relay_log = relay-log
max_binlog_size = 104857600

# gtid
log-bin
log-slave-updates
gtid_mode = ON
enforce_gtid_consistency = true

# crash-safe replication
sync_binlog = 0
relay_log_recovery = ON

# replication
log_slave_updates = true

# expire binlogs after 10 days
expire_logs_days = 1

log-error       = /var/log/mysql/error.log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

default-time-zone = '+00:00'

slow_query_log=0
slow_query_log_file=/var/lib/mysql/mysql-slow.log
long_query_time=1
log-queries-not-using-indexes=1
binlog_rows_query_log_events=true
ignore-db-dir=lost+found

# Borrow from sitedb
thread_cache_size=200
key_buffer_size = 8G
tmp_table_size = 200M

# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/

